<a href="https://colab.research.google.com/github/VarshithaCVasireddy/pyspark/blob/main/pyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.3)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
import pyspark

### Firstly create Spark Session

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [86]:
import glob

file = glob.glob("/content/drive/MyDrive/data_gdrive/*")

for path in file:
  print(path)

/content/drive/MyDrive/data_gdrive/test (1).gsheet
/content/drive/MyDrive/data_gdrive/test.csv

In [ ]:
file_path = "/content/drive/MyDrive/data_gdrive/test.csv"

In [ ]:
pyspark = spark.read.option('header','true').csv(file_path)

In [ ]:
pyspark.show()

+-----+---+
| Name|Age|
+-----+---+
|Varsh| 26|
|  Bis| 28|
+-----+---+

In [33]:
### schema is an attribute of pyspark so it doesn't need to be acces like method, ex: show() (This is a method)

In [ ]:
pyspark.schema

StructType([StructField('Name', StringType(), True), StructField('Age', StringType(), True)])

In [37]:
pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)

## Part 1
- PySpark Dataframe
- Reading the Dataset
- Checking the Datatypes of the Column (Schema)
- Selecting Columns and Indexing
- Check Describe option similar to Pandas
- Adding Columns
- Dropping columns
- Renaming columns

In [41]:
from pyspark.sql import SparkSession

In [49]:
spark = SparkSession.builder.getOrCreate()

In [50]:
spark

In [60]:
## Dataframe creation and Reading the dataset and getting the correct schema for the columns
df_pyspark = spark.read.option('header','true').csv('/content/drive/MyDrive/data_gdrive/test.csv',inferSchema=True)

In [61]:
df_pyspark

DataFrame[Name: string, Age: int, Experience: int]

In [62]:
## Schema
pyspark.schema

StructType([StructField('Name', StringType(), True), StructField('Age', StringType(), True)])

In [63]:
pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)

In [65]:
## Selecting columns
df_pyspark.select('Name').show()

+-----+
| Name|
+-----+
|Varsh|
|  Bis|
|Booth|
+-----+

In [77]:
df_pyspark.select(['Name','Experience']).show()

+-----+----------+
| Name|Experience|
+-----+----------+
|Varsh|         3|
|  Bis|         5|
|Booth|       130|
+-----+----------+

In [66]:
## Describe
df_pyspark.describe().show()

+-------+-----+-----------------+-----------------+
|summary| Name|              Age|       Experience|
+-------+-----+-----------------+-----------------+
|  count|    3|                3|                3|
|   mean| NULL|             68.0|             46.0|
| stddev| NULL|71.02112361825881|72.75300681071539|
|    min|  Bis|               26|                3|
|    max|Varsh|              150|              130|
+-------+-----+-----------------+-----------------+

In [73]:
## Adding Column
df_pyspark = df_pyspark.withColumn('Experience in 2 years',df_pyspark['Experience']+2)
df_pyspark.show()

+-----+---+----------+---------------------+
| Name|Age|Experience|Experience in 2 years|
+-----+---+----------+---------------------+
|Varsh| 26|         3|                    5|
|  Bis| 28|         5|                    7|
|Booth|150|       130|                  132|
+-----+---+----------+---------------------+

In [75]:
## Removing column and showing
df_pyspark.drop('Experience in 2 years').show()

+-----+---+----------+
| Name|Age|Experience|
+-----+---+----------+
|Varsh| 26|         3|
|  Bis| 28|         5|
|Booth|150|       130|
+-----+---+----------+

In [76]:
## Removing column and retaining in the dataframe
df_pyspark = df_pyspark.drop('Experience in 2 years')
df_pyspark.show()

+-----+---+----------+
| Name|Age|Experience|
+-----+---+----------+
|Varsh| 26|         3|
|  Bis| 28|         5|
|Booth|150|       130|
+-----+---+----------+

### Pyspark Handling Missing Values
- Dropping Columns
- Dropping Rows
- Various Parameter In Dropping functionalities
- Handling Missing values by Mean, Median And Mode
- &, |, ~, ==

In [78]:
from pyspark.sql import SparkSession

In [79]:
spark = SparkSession.builder.getOrCreate()

In [80]:
spark

In [87]:
## Dataframe creation and Reading the dataset and getting the correct schema for the columns
df = spark.read.option('header',True).csv('/content/drive/MyDrive/data_gdrive/test.csv',inferSchema=True)

In [92]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [90]:
df.show()

+---------+----+----------+------+
|     Name| Age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|NULL|      NULL| 40000|
|     NULL|  34|        10| 38000|
|     NULL|  36|      NULL|  NULL|
+---------+----+----------+------+

In [88]:
df.drop('name').show()

+----+----------+------+
| Age|Experience|Salary|
+----+----------+------+
|  31|        10| 30000|
|  30|         8| 25000|
|  29|         4| 20000|
|  24|         3| 20000|
|  21|         1| 15000|
|  23|         2| 18000|
|NULL|      NULL| 40000|
|  34|        10| 38000|
|  36|      NULL|  NULL|
+----+----------+------+

In [93]:
## Dropping rows is not explicit, can drop by filtering, dropping na and where condition
## Drops all rows which have null values
df.na.drop().show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [97]:
## To drop by paramters
## To drop only rows whose values are all null
df.na.drop(how='all').show()

+---------+----+----------+------+
|     Name| Age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|NULL|      NULL| 40000|
|     NULL|  34|        10| 38000|
|     NULL|  36|      NULL|  NULL|
+---------+----+----------+------+

In [105]:
## To drop only rows whose threshold value is met
## drop rows that have fewer than thresh non-null value
df.na.drop(thresh=2).show()

+---------+----+----------+------+
|     Name| Age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|NULL|      NULL| 40000|
|     NULL|  34|        10| 38000|
+---------+----+----------+------+

In [136]:
df.dropna(thresh=2).show()

+---------+----+----------+------+
|     Name| Age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|NULL|      NULL| 40000|
|     NULL|  34|        10| 38000|
+---------+----+----------+------+

In [107]:
## Filter condition
df.filter(df['Age']>30).show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
|Krish| 31|        10| 30000|
| NULL| 34|        10| 38000|
| NULL| 36|      NULL|  NULL|
+-----+---+----------+------+

In [122]:
df.na.drop(subset='Experience').show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
|     NULL| 34|        10| 38000|
+---------+---+----------+------+

In [109]:
df.where(df['Age']>30).show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
|Krish| 31|        10| 30000|
| NULL| 34|        10| 38000|
| NULL| 36|      NULL|  NULL|
+-----+---+----------+------+

In [111]:
df.dropDuplicates(['Experience']).show()

+---------+----+----------+------+
|     Name| Age|Experience|Salary|
+---------+----+----------+------+
|   Mahesh|NULL|      NULL| 40000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|     Paul|  24|         3| 20000|
|    Sunny|  29|         4| 20000|
|Sudhanshu|  30|         8| 25000|
|    Krish|  31|        10| 30000|
+---------+----+----------+------+

In [126]:
## Filling missing values
df.fillna(value="Missing values",subset="Name").show()

+--------------+----+----------+------+
|          Name| Age|Experience|Salary|
+--------------+----+----------+------+
|         Krish|  31|        10| 30000|
|     Sudhanshu|  30|         8| 25000|
|         Sunny|  29|         4| 20000|
|          Paul|  24|         3| 20000|
|        Harsha|  21|         1| 15000|
|       Shubham|  23|         2| 18000|
|        Mahesh|NULL|      NULL| 40000|
|Missing values|  34|        10| 38000|
|Missing values|  36|      NULL|  NULL|
+--------------+----+----------+------+

In [117]:
from pyspark.sql.functions import mean
df.select(mean('Age')).show()

+--------+
|avg(Age)|
+--------+
|    28.5|
+--------+

In [120]:
df.select([mean(col).alias(f"{col}_mean") for col in df.columns]).show()

+---------+--------+-----------------+-----------+
|Name_mean|Age_mean|  Experience_mean|Salary_mean|
+---------+--------+-----------------+-----------+
|     NULL|    28.5|5.428571428571429|    25750.0|
+---------+--------+-----------------+-----------+

In [132]:
## Filling missing values with imputer from ml feature
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['Age','Experience','Salary'],
    outputCols=[f"{c}_imputed" for c in ['Age','Experience','Salary']]
).setStrategy('mean')

In [133]:
imputer.fit(df).transform(df).show()

+---------+----+----------+------+-----------+------------------+--------------+
|     Name| Age|Experience|Salary|Age_imputed|Experience_imputed|Salary_imputed|
+---------+----+----------+------+-----------+------------------+--------------+
|    Krish|  31|        10| 30000|         31|                10|         30000|
|Sudhanshu|  30|         8| 25000|         30|                 8|         25000|
|    Sunny|  29|         4| 20000|         29|                 4|         20000|
|     Paul|  24|         3| 20000|         24|                 3|         20000|
|   Harsha|  21|         1| 15000|         21|                 1|         15000|
|  Shubham|  23|         2| 18000|         23|                 2|         18000|
|   Mahesh|NULL|      NULL| 40000|         28|                 5|         40000|
|     NULL|  34|        10| 38000|         34|                10|         38000|
|     NULL|  36|      NULL|  NULL|         36|                 5|         25750|
+---------+----+----------+------+-----------+------------------+--------------+

In [134]:
## Filling missing values with imputer from ml feature
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['Age','Experience','Salary'],
    outputCols=[f"{c}_imputed" for c in ['Age','Experience','Salary']]
).setStrategy('median')

imputer.fit(df).transform(df).show()

+---------+----+----------+------+-----------+------------------+--------------+
|     Name| Age|Experience|Salary|Age_imputed|Experience_imputed|Salary_imputed|
+---------+----+----------+------+-----------+------------------+--------------+
|    Krish|  31|        10| 30000|         31|                10|         30000|
|Sudhanshu|  30|         8| 25000|         30|                 8|         25000|
|    Sunny|  29|         4| 20000|         29|                 4|         20000|
|     Paul|  24|         3| 20000|         24|                 3|         20000|
|   Harsha|  21|         1| 15000|         21|                 1|         15000|
|  Shubham|  23|         2| 18000|         23|                 2|         18000|
|   Mahesh|NULL|      NULL| 40000|         29|                 4|         40000|
|     NULL|  34|        10| 38000|         34|                10|         38000|
|     NULL|  36|      NULL|  NULL|         36|                 4|         20000|
+---------+----+----------+------+-----------+------------------+--------------+

In [135]:
## Filling missing values with imputer from ml feature
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['Age','Experience','Salary'],
    outputCols=[f"{c}_imputed" for c in ['Age','Experience','Salary']]
).setStrategy('mode')

imputer.fit(df).transform(df).show()

+---------+----+----------+------+-----------+------------------+--------------+
|     Name| Age|Experience|Salary|Age_imputed|Experience_imputed|Salary_imputed|
+---------+----+----------+------+-----------+------------------+--------------+
|    Krish|  31|        10| 30000|         31|                10|         30000|
|Sudhanshu|  30|         8| 25000|         30|                 8|         25000|
|    Sunny|  29|         4| 20000|         29|                 4|         20000|
|     Paul|  24|         3| 20000|         24|                 3|         20000|
|   Harsha|  21|         1| 15000|         21|                 1|         15000|
|  Shubham|  23|         2| 18000|         23|                 2|         18000|
|   Mahesh|NULL|      NULL| 40000|         21|                10|         40000|
|     NULL|  34|        10| 38000|         34|                10|         38000|
|     NULL|  36|      NULL|  NULL|         36|                10|         20000|
+---------+----+----------+------+-----------+------------------+--------------+

In [143]:
df.filter((df['age'] > 30) & (df['age'] < 40)).select('Age').show()

+---+
|Age|
+---+
| 31|
| 34|
| 36|
+---+

In [144]:
df.filter(~(df['age'] > 30) & (df['age'] < 40)).select('Age').show()

+---+
|Age|
+---+
| 30|
| 29|
| 24|
| 21|
| 23|
+---+

In [148]:
df.filter(df['age'] == 30).select('Age').show()

+---+
|Age|
+---+
| 30|
+---+

In [149]:
print(spark.conf.get("spark.sql.caseSensitive"))

false

In [150]:
df.groupBy('Name').max().show()

+---------+--------+---------------+-----------+
|     Name|max(Age)|max(Experience)|max(Salary)|
+---------+--------+---------------+-----------+
|     NULL|      36|             10|      38000|
|Sudhanshu|      30|              8|      25000|
|    Sunny|      29|              4|      20000|
|    Krish|      31|             10|      30000|
|   Harsha|      21|              1|      15000|
|     Paul|      24|              3|      20000|
|  Shubham|      23|              2|      18000|
|   Mahesh|    NULL|           NULL|      40000|
+---------+--------+---------------+-----------+

In [151]:
df.groupBy('Name').max('Age').show()

+---------+--------+
|     Name|max(Age)|
+---------+--------+
|     NULL|      36|
|Sudhanshu|      30|
|    Sunny|      29|
|    Krish|      31|
|   Harsha|      21|
|     Paul|      24|
|  Shubham|      23|
|   Mahesh|    NULL|
+---------+--------+

In [152]:
df.groupBy('Name').count().show()

+---------+-----+
|     Name|count|
+---------+-----+
|     NULL|    2|
|Sudhanshu|    1|
|    Sunny|    1|
|    Krish|    1|
|   Harsha|    1|
|     Paul|    1|
|  Shubham|    1|
|   Mahesh|    1|
+---------+-----+

In [153]:
df.withColumnRenamed('Age','My_age').show()

+---------+------+----------+------+
|     Name|My_age|Experience|Salary|
+---------+------+----------+------+
|    Krish|    31|        10| 30000|
|Sudhanshu|    30|         8| 25000|
|    Sunny|    29|         4| 20000|
|     Paul|    24|         3| 20000|
|   Harsha|    21|         1| 15000|
|  Shubham|    23|         2| 18000|
|   Mahesh|  NULL|      NULL| 40000|
|     NULL|    34|        10| 38000|
|     NULL|    36|      NULL|  NULL|
+---------+------+----------+------+